@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(247, 247, 247, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
}

.movie:hover img {
    transform: rotate(10deg) scale(1.5);
    -webkit-transform: rotate(10deg) scale(1.5);
    -moz-transform: rotate(10deg) scale(1.5);
    -ms-transform: rotate(10deg) scale(1.5);
    -o-transform: rotate(10deg) scale(1.5);
}

@media only screen and (min-width: 600px) {
    .movie {
        width: 46%;
    }
}

@media only screen and (min-width: 768px) {
    .movie {
        width: 29%;
    }
}

@media only screen and (min-width: 992px) {
    .movie {
        width: 21%;
    }
}

.movie img {
    width: 100%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    min-width: 40px;
    text-align: center;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem 20px;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.6s ease-in;
    -webkit-transition: transform 0.6s ease-in;
    -moz-transition: transform 0.6s ease-in;
    -ms-transition: transform 0.6s ease-in;
    -o-transition: transform 0.6s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

.open-movie {
    position: absolute;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    top: 0%;
    width: 55px;
    right: 10px;
    font-size: 20px;
    border: 2px solid rgb(181, 181, 181);
    padding: 2px 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #22254b;
    color: #eee;
}


/* google_translate */

#google_translate_element {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 20px !important;
}

#google_translate_element .goog-te-combo {
    font-size: 18px;
}